{% extends 'newbase.html.twig' %}


{% block stylesheets %}
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/catalog.section.list/menu_maxi/style8e9c.css?14529551107305" type="text/css"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/slider/style2520.css?1452955110150" type="text/css"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/top_items/style2520.css?1452955110150" type="text/css"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/tabs/style2520.css?1452955110150" type="text/css"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/css/animate6947.css?145295511068816" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/css/autocomplete7291.css?1484386548733" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/css/owl.carousel1392.css?14843864501476" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/menu/top_menu/style9c08.css?1452955110583" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/social/style2520.css?1452955110150" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/stylesde88.css?14851748899819" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/template_styles5ff8.css?1485880895163247" type="text/css"  data-template-style="true"  rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/chosen.jquery.min8f55.js?146037302025688"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/jquery.tinyscrollbar3d16.js?146037302012470"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/jquery.animateNumber.min002b.js?14603730201353"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/libphonenumber-utils67fb.js?1460373020237410"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/jquery.maskedinput.min72ec.js?146037302010317"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/jquery.autocomplete7992.js?148544009333017"></script>

    {#        <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/studio8769a.js?148588231219911"></script>#}

    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/basketce53.js?148637770442081"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/owl.carousel.mincebe.js?148438625723890"></script>
    <script type="text/javascript" src="/iiko/autocomplete/jquery.mockjaxbf04.js?146037296219052"></script>
    <script type="text/javascript" src="/iiko/autocomplete/streetse4b8.js?14843878782783"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/slider/scriptdb64.js?1484396037550"></script>

{% endblock %}

{% block body %}
    {# PAGE ITSELF ! #}
    <main class="content">
        <div class="wrap">

            <div class="zakak_oplata">
                <div class="title">
                    Как заказать и оплатить?			</div>
                <div class="intr">
                    Достаточно просто выбрать заинтересовавшие вас блюда из&nbsp;меню добавить их в корзину (нажимайте на иконку с корзинкой рядом с каждым блюдом&nbsp;— оно будет добавлено в Ваш заказ)			</div>
                <div class="qwest">
                    <p>
                        <b>Заказы на ДОСТАВКУ&nbsp;</b>принимаются КРУГЛОСУТОЧНО без выходных.&nbsp;
                    </p>
                    <p>
                        <b>Заказы на ВЫНОС принимаются по адресу</b>
                    </p>
                    <p>
                        пр-т Дзержинского, 91 (ТЦ АЛМИ)&nbsp;- КРУГЛОСУТОЧНО &nbsp;
                    </p>
                    <p>
                        Время доставки может меняться в зависимости от загруженности ресторана.<br>
                    </p>
                    <p class="call_link">
                        По всем вопросам, связанным с доставкой, обращайтесь по телефонам&nbsp;call-центра: <b><a href="tel:+375296681111">+375296681111</a></b> &nbsp;<b><a href="tel:+375336681111">+375336681111</a></b><br>
                    </p>
                    <p>
                        <br>
                    </p>				<div class="phone">
                    </div>
                </div>
                <div class="sp_title">
                    Способы оплаты			</div>
                <div class="oplat_list">
                    <div class="oplata opl_1">
                        <div class="titles">
                            Оплата картой
                        </div>
                        <p>
                            Заказы на доставку или на вынос можно оплатить банковской картой.
                        </p>
                    </div>
                    <div class="oplata opl_2">
                        <div class="titles">
                            Оплата наличными
                        </div>
                        <p>
                            Заказы на доставку или на вынос можно оплатить наличными.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- .news_line -->

    </div>
</div>
<div id="overlay"></div>
</main><!-- .content -->
</div><!-- .wrapper -->
{# PAGE END! #}
{% endblock %}