{% extends 'newbase.html.twig' %}


{% block stylesheets %}
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/catalog.section.list/menu_maxi/style8e9c.css?14529551107305" type="text/css"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/slider/style2520.css?1452955110150" type="text/css"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/top_items/style2520.css?1452955110150" type="text/css"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/tabs/style2520.css?1452955110150" type="text/css"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/css/animate6947.css?145295511068816" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/css/autocomplete7291.css?1484386548733" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/css/owl.carousel1392.css?14843864501476" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/menu/top_menu/style9c08.css?1452955110583" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/social/style2520.css?1452955110150" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/stylesde88.css?14851748899819" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/template_styles5ff8.css?1485880895163247" type="text/css"  data-template-style="true"  rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/chosen.jquery.min8f55.js?146037302025688"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/jquery.tinyscrollbar3d16.js?146037302012470"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/jquery.animateNumber.min002b.js?14603730201353"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/libphonenumber-utils67fb.js?1460373020237410"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/jquery.maskedinput.min72ec.js?146037302010317"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/jquery.autocomplete7992.js?148544009333017"></script>

    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/studio8769a.js?148588231219911"></script>

    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/basketce53.js?148637770442081"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/owl.carousel.mincebe.js?148438625723890"></script>
    <script type="text/javascript" src="/iiko/autocomplete/jquery.mockjaxbf04.js?146037296219052"></script>
    <script type="text/javascript" src="/iiko/autocomplete/streetse4b8.js?14843878782783"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/slider/scriptdb64.js?1484396037550"></script>

{% endblock %}

{% block body %}

    {#         
    PAGE ITSELF ! #}
    <main class="content ">
        <div class="slider owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer autoHeight" style="height: 346px;"><div class="owl-wrapper" style="width: 12264px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-3504px, 0px, 0px);"><div class="owl-item" style="width: 876px;"><div class="slider_item_first" id="bx_3218110189_7982">
                            <div class="slider_item_child" style="background:  url(upload/iblock/186/sushi_lunch_bg.jpg)  center;   background-size: cover;">

                                <div class="slide_item_bd">

                                    <a href="catalog/sets.html"><img src="upload/iblock/69f/lunch_sushi.png" alt="Ланч сеты по супер цене" title="Ланч сеты по супер цене"></a>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 876px;"><div class="slider_item_first" id="bx_3218110189_55028">
                            <div class="slider_item_child" style="background:  url(upload/iblock/7ce/weekend_sushi.jpg)  center;   background-size: cover;">

                                <div class="slide_item_bd">

                                    <a href="akcii.html"><img src="upload/iblock/1e9/weekend_sushi.png" alt="Weekend скидка 20% на раздел сеты!" title="Weekend скидка 20% на раздел сеты!"></a>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 876px;"><div class="slider_item_first" id="bx_3218110189_34806">
                            <div class="slider_item_child" style="background:  url(upload/iblock/ad6/sushi_50_bg.jpg)  center;   background-size: cover;">

                                <div class="slide_item_bd">

                                    <a href="akcii.html"><img src="upload/iblock/c16/sushi_50.png" alt="Скидка на блюдо дня 50%" title="Скидка на блюдо дня 50%"></a>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 876px;"><div class="slider_item_first" id="bx_3218110189_31961">
                            <div class="slider_item_child" style="background:  url(upload/iblock/28d/frends_bg.jpg)  center;   background-size: cover;">

                                <div class="slide_item_bd">

                                    <a href="https://app.plazius.ru/m/5Vpkmt" target="_blank"><img src="upload/iblock/ae7/frends_sushi.png" alt="Приводи друзей - получай бонусы!" title="Приводи друзей - получай бонусы!"></a>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 876px;"><div class="slider_item_first" id="bx_3218110189_149">
                            <div class="slider_item_child" style="background: #183a17 url(upload/iblock/9b1/maneki-neko_bg.jpg) repeat-x center;   background-size: cover;">

                                <div class="slide_item_bd">

                                    <a href="akcii.html"><img src="upload/iblock/e31/maneki-neko_new2.png" alt="Манеки Неко" title="Манеки Неко"></a>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 876px;"><div class="slider_item_first" id="bx_3218110189_20373">
                            <div class="slider_item_child" style="background:  url(upload/iblock/6c7/24h_bg.jpg)  center;   background-size: cover;">

                                <div class="slide_item_bd">

                                    <img src="upload/iblock/0c4/24h.png" alt="Работаем круглосуточно" title="Работаем круглосуточно">
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 876px;"><div class="slider_item_first" id="bx_3218110189_1889">
                            <div class="slider_item_child" style="background:  url(upload/iblock/1c3/imeninnik_bg.jpg)  center;   background-size: cover;">

                                <div class="slide_item_bd">

                                    <img src="upload/iblock/489/imeninnik.png" alt="Скидка именинникам 20%" title="Скидка именинникам 20%">
                                </div>
                            </div>
                        </div></div></div></div>				 		






            <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div><div class="info_line">
            <div class="wrap">
                <div class="phone_box">
                    <div class="phone">
                    </div>
                    <div class="dostavka">
                        <img alt="Телефоны: +375(29)668-11-11 и +375(33)668-11-11" src="images/phone.png"><br>
                        время работы:&nbsp;круглосуточно<br>			</div>
                </div>
                <div class="inf_box if_1">
                    <div class="title">
                        Быстро
                    </div>
                    <p>
                        Время доставки заказа 60 минут*
                    </p>		</div>
                <div class="inf_box if_2">
                    <div class="title">
                        Вкусно
                    </div>
                    <p>
                        Мы готовим только из свежих продуктов
                    </p>		</div>
                <div class="inf_box if_3">
                    <div class="title">
                        Бесплатная доставка
                    </div>
                    <p>
                        При заказе от 30 рублей
                    </p>		</div>
            </div>
        </div>
        <!-- .info_line -->
        <div class="main_tovar_box">
            <div class="wrap">

                <div class="togmenu">
                    <div class="title">Меню</div>
                    <span class="close"></span>

                    <ul class="sec_menu">                    <li><a class="active">Популярное</a></li>

                        <li id="bx_1847241719_1"><a href="catalog/sushi.html">Суши</a>
                            <ul class="sec_menu">
                                <li id="bx_1847241719_16"><a href="catalog/sushi/nigiri.html">Нигири</a></li>
                                <li id="bx_1847241719_19"><a href="catalog/sushi/gunkany.html">Гунканы</a></li>
                            </ul>

                        </li>
                        <li id="bx_1847241719_2"><a href="catalog/rolls.html">Роллы</a>
                            <ul class="sec_menu">
                                <li id="bx_1847241719_20"><a href="catalog/rolls/hoso_maki.html">Хосо маки</a></li>
                                <li id="bx_1847241719_21"><a href="catalog/rolls/maki.html">Маки</a></li>
                                <li id="bx_1847241719_31"><a href="catalog/rolls/tamago-maki.html">Тамаго маки</a></li>
                                <li id="bx_1847241719_22"><a href="catalog/rolls/ura_maki.html">Ура маки</a></li>
                                <li id="bx_1847241719_23"><a href="catalog/rolls/light_maki.html">Лайт маки</a></li>
                                <li id="bx_1847241719_24"><a href="catalog/rolls/hot_maki.html">Хот маки</a></li>
                            </ul>

                        </li>
                        <li id="bx_1847241719_18"><a href="catalog/setsminsk.html">Сеты</a></li>
                        <li id="bx_1847241719_3"><a href="catalog/salads.html">Салаты</a></li>
                        <li id="bx_1847241719_8"><a href="catalog/sauces.html">Соусы</a></li>
                        <li id="bx_1847241719_15"><a href="catalog/japanese_garnish.html">Японский гарнир</a></li>
                        <li id="bx_1847241719_6"><a href="catalog/deserty.html">Десерты</a></li>
                        <li id="bx_1847241719_7"><a href="catalog/beverage.html">Напитки</a></li>
                    </ul>

                </div>
            </div>
            <div class="for_poplavok">
                <div class="wrap">

                    <div class="tovar_box">
                        
                        
                        
                        
                        
                        
                        <div class="tovar" id="bx_651765591_30459" data-price="56.49" data-old-price="" data-id="30459" data-category-id="18" data-category-name="" data-half-enabled="no">
                            <div class="pic">
                                <img src="upload/resize_cache/iblock/6b7/220_172_1/mocny_set.jpg" alt="Моцный сет" title="Моцный сет" width="220" height="172">
                                <div class="mask"></div>
                                <div class="zoom"></div>
                            </div>
                            <div class="label" style="background-color: #FF0000">Хит сезона</div>

                            <div class="about">
                                <div class="title"><span class="title">Моцный сет</span></div>
                                <p>Манхэттен маки, Ямагути маки, Чили Изумитай маки, Хаус Маки</p>
                            </div>
                            <div class="down">
                                <div class="tovar_info">
                                    <span class="price"><span>56.49</span> <i class="rouble rouble_padding">руб.</i></span>
                                    <span class="gramm">1035 г | 32 шт.</span>        </div>
                                <div class="tovar_cost">
                                    <div class="colich_tov">
                                        <input type="button" value="-" class="minus_tov">
                                        <input type="text" value="1" class="txt_col_tov" readonly="readonly">
                                        <input type="button" value="+" class="plus_tov">
                                    </div>
                                    <input type="button" class="addtocart" value="">
                                    <img class="balloon" src="/local/templates/bd_sushi_shop_default/images/balloon.png" style="display:none;"></div>
                            </div>
                            <div class="tovar_zoom">
                                <div class="pic">
                                    <img src="upload/resize_cache/iblock/6b7/467_361_1/mocny_set.jpg" alt="Моцный сет" title="Моцный сет">
                                    <div class="mask"></div>
                                    <div class="zoom"></div>
                                </div>
                                <div class="label" style="background-color: #FF0000">Хит сезона</div>
                                <div class="about">
                                    <div class="title">Моцный сет</div>
                                    <p><noindex>Манхэттен маки, Ямагути маки, Чили Изумитай маки, Хаус Маки<br>
                                        производитель: OOO “Глобалпрогрупп” </noindex></p>
                                </div>
                                <div class="down">
                                    <div class="tovar_info">
                                        <span class="price"><span>56.49</span> <i class="rouble rouble_padding">руб.</i></span>
                                        <span class="gramm">1035 г | 32 шт.</span>            </div>
                                    <div class="tovar_cost">
                                        <div class="colich_tov">
                                            <input type="button" value="-" class="minus_tov">
                                            <input type="text" value="1" class="txt_col_tov" readonly="readonly">
                                            <input type="button" value="+" class="plus_tov">
                                        </div>
                                        <input type="button" class="addtocart" value="">
                                        <div class="recomend">
                                            <p>Рекомендую</p>
                                            <a class="like  you_not_like_bitch" href="#"><span>64</span></a>
                                        </div>
                                        <img class="balloon" src="/local/templates/bd_sushi_shop_default/images/balloon.png" style="display:none;"></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="clear"></div> <div class="poplavok">
                        <div class="podarki_box podarki_close" style="display:block;">
                            <span class="open"><i>Подарки</i></span>
                            <div class="shkala">
                                <div class="obertka"><div class="delenija"></div></div>
                            </div>
                        </div><!-- .podarki_close -->
                        <div class="podarki_box podarki_open" style="display:none;">
                            <span class="close"></span>
                            <div class="bd">
                                <div class="title">Получи подарок!</div>
                                <p class="opis">При заказе на суммы выше 30.00 <!--<i class="rouble">i</i>--> <br>вы получаете возможность выбрать вкусный подарок</p>
                                <div class="intr">
                                    <div class="shkala">
                                        <div class="obertka"><div class="delenija"></div></div>
                                    </div>

                                    <div class="pandochki" id="pandochki-cs">
                                        <!--'start_frame_cache_pandochki-cs'-->                                        <div class="free_panda hot">
                                            <div class="for_pod"> 40.00 <!--<i class="rouble">i</i>--></div>
                                            <a href="catalog/gifts/index.html" class="zabr">Забрать</a>
                                        </div>
                                        <div class="free_panda mid">
                                            <div class="for_pod"> 35.00 <!--<i class="rouble">i</i>--></div>
                                            <a href="catalog/gifts/index.html" class="zabr">Забрать</a>
                                        </div>
                                        <div class="free_panda lit">
                                            <div class="for_pod"> 30.00 <!--<i class="rouble">i</i>--></div>
                                            <a href="catalog/gifts/index.html" class="zabr">Забрать</a>
                                        </div>
                                        <!--'end_frame_cache_pandochki-cs'-->                </div> 
                                </div> 
                            </div>  
                        </div><!-- .podarki_open -->        
                    </div>    
                </div>
            </div>
        </div>
        <div class="wrap">
            <div id="tab-container">
                <div class="os"></div>

                <div class="tab-header" id="tab-container-header"><ul class="tab-list"><li id="tab-container-tab-0"><a class="tab-item tab-active" href="javascript://" title="null">Акционная политика</a></li><li id="tab-container-tab-1"><a class="tab-item" href="javascript://" title="null">Оплата наличными</a></li><li id="tab-container-tab-2"><a class="tab-item" href="javascript://" title="null">Оплата банковской картой</a></li><li id="tab-container-tab-3"><a class="tab-item" href="javascript://" title="null">Доставка и самовывоз</a></li><li id="tab-container-tab-4"><a class="tab-item" href="javascript://" title="null">Адреса и контакты</a></li></ul></div><div class="tab-content" style="display: block;">
                    <div class="tab">Акционная политика</div>                            
                    <div class="tabscontent">
                        <div class="pic">
                            <img src="upload/resize_cache/iblock/1e2/147_147_1/gift.png" alt="Акционная политика" title="Акционная политика">
                        </div>
                        <div class="opis">
                            Правила иcпользования акционных предложений и скидок:<br>
                            1. скидки не суммируются, Гость имеет право воспользоваться максимальной скидкой<br>
                            2. при использовании скидки на весь заказ использование бонусных рублей не возможно<br>
                            3. бонусные рубли системы лояльности не начисляются на заказы со скидкой<br>
                            4. в одном заказе может быть использован один промокод, скидка, акционный флаер или подарок<br>
                            5. стоимость доставки рассчитывается исходя из суммы заказа с учетом скидки<br>
                        </div>
                    </div>                        
                </div>
                <div class="tab-content" style="display: none;">
                    <div class="tab">Оплата наличными</div>                            
                    <div class="tabscontent">
                        <div class="pic">
                            <img src="upload/resize_cache/iblock/3d2/147_147_1/wallet-icon-512.jpg" alt="Оплата наличными" title="Оплата наличными">
                        </div>
                        <div class="opis">
                            Оплата за доставленный заказ производится в белорусских рублях, путем передачи наличных денежных средств курьеру при получении заказа. В подтверждение произведенной оплаты путем передачи наличных денежных средств курьер выдает квитанцию и предварительный чек, или кассовый чек и предварительный чек.<br>
                            При необходимости подготовить сдачу с определенной суммы укажите это при оформлении заказа или предупредите оператора при подтверждении заказа.<br>                        	</div>
                    </div>                        
                </div>
                <div class="tab-content" style="display: none;">
                    <div class="tab">Оплата банковской картой</div>                            
                    <div class="tabscontent">
                        <div class="pic">
                            <img src="upload/resize_cache/iblock/ada/147_147_1/credit-card.jpg" alt="Оплата банковской картой" title="Оплата банковской картой">
                        </div>
                        <div class="opis">
                            Банковской картой можно оплатить заказ на вынос или доставку по факту получения заказа. К оплате принимаются банковские карты MasterCard, Maestro,Visa.<br>
                            При желании оплатить заказ на доставку банковской кредитной картой, предупреждайте об этом операторов колл-центра при оформлении заказа.                        	</div>
                    </div>                        
                </div>
                <div class="tab-content" style="display: none;">
                    <div class="tab">Доставка и самовывоз</div>                            
                    <div class="tabscontent">
                        <div class="pic">
                            <img src="upload/resize_cache/iblock/f1b/147_147_1/paket_sushi-_house.jpg" alt="Доставка и самовывоз" title="Доставка и самовывоз">
                        </div>
                        <div class="opis">
                            1.Самовывоз:<br>
                            Минимальная сумма заказа отсутствует. Эта услуга бесплатна.<br>
                            Cвой заказ можно получить по любому из адресов сети SUSHI HOUSE в соответствии с режимом работы заведения:<br>
                            пр-т Дзержинского 91(ТЦ "Алми"), время работы: круглосуточно<br>
                            2.Доставка курьерской службой:<br>
                            Наш курьер доставит заказ по указанному адресу. Заказы на доставку принимаются круглосуточно без выходных.<br>
                            Стоимость доставки зависит от общей суммы заказа и зоны доставки.                        	</div>
                    </div>                        
                </div>
                <div class="tab-content" style="display: none;">
                    <div class="tab">Адреса и контакты</div>                            
                    <div class="tabscontent">
                        <div class="pic">
                            <img src="upload/resize_cache/iblock/7c0/147_147_1/logo.jpg" alt="Адреса и контакты" title="Адреса и контакты">
                        </div>
                        <div class="opis">
                            Служба доставки блюд японской кухни SUSHI HOUSE всегда рад предложить Вам настоящую японскую кухню с доставкой на дом или в офис.<br>
                            Заказы на доставку принимаются КРУГЛОСУТОЧНО. Оформить заказ "на вынос" можно по адресу<br>
                            пр-т Дзержинского 91 (ТЦ Алми). Время работы заведения - круглосуточно<br>
                            Единый телефон call-центра: 668-11-11 (velcom, МТС)<br>
                            по вопросам сотрудничества: <a class="txttohtmllink" href="mailto:marketing@sushihouse.by" title="Написать письмо">marketing@sushihouse.by</a> +375445040532                        	</div>
                    </div>                        
                </div>

            </div>                 

        <br>
        <div id="modalBox" style="display:none;" data-tovar-id="">
            <span id="modalClose">X</span>
        </div>
        <div id="overlay">
        </div>
        <br>		<div id="overlay"></div>
    </main>{# PAGE END! #}
{% endblock %}