<div id='tab-container'>
    <div class="os"></div>

    <div class="tab-content">
        <div class="os"></div>
        <div class="tab">Акционная политика</div>                            
        <div class="tabscontent">
            <div class="pic">
                <img
                    src="/upload/resize_cache/iblock/1e2/147_147_1/gift.png"
                    alt="Акционная политика"
                    title="Акционная политика"
                    />
            </div>
            <div class="opis">
                Правила иcпользования акционных предложений и скидок:<br />
                1. скидки не суммируются, Гость имеет право воспользоваться максимальной скидкой<br />
                2. при использовании скидки на весь заказ использование бонусных рублей не возможно<br />
                3. бонусные гривны системы лояльности не начисляются на заказы со скидкой<br />
                4. в одном заказе может быть использован один промокод, скидка, акционный флаер или подарок<br />
                5. стоимость доставки рассчитывается исходя из суммы заказа с учетом скидки<br />
            </div>
        </div>                        
    </div>
    <div class="tab-content">
        <div class="tab">Оплата наличными</div>                            
        <div class="tabscontent">
            <div class="pic">
                <img
                    src="/upload/resize_cache/iblock/3d2/147_147_1/wallet-icon-512.jpg"
                    alt="Оплата наличными"
                    title="Оплата наличными"
                    />
            </div>
            <div class="opis">
                Оплата за доставленный заказ производится в гривнах, 
                путем передачи наличных денежных средств курьеру при получении заказа. 
                В подтверждение произведенной оплаты путем передачи наличных 
                денежных средств курьер выдает квитанцию и предварительный чек, 
                или кассовый чек и предварительный чек.<br>
                При необходимости подготовить сдачу с определенной суммы 
                укажите это при оформлении заказа или предупредите оператора при подтверждении заказа.<br>                        	
            </div>
        </div>                        
    </div>
    <div class="tab-content">
        <div class="tab">Оплата банковской картой</div>                            
        <div class="tabscontent">
            <div class="pic">
                <img
                    src="/upload/resize_cache/iblock/ada/147_147_1/credit-card.jpg"
                    alt="Оплата банковской картой"
                    title="Оплата банковской картой"
                    />
            </div>
            <div class="opis">
                Банковской картой можно оплатить заказ на вынос. 
                К оплате принимаются банковские карты MasterCard, Maestro,Visa.<br>                        	
            </div>
        </div>                        
    </div>
    <div class="tab-content">
        <div class="tab">Доставка и самовывоз</div>                            
        <div class="tabscontent">
            <div class="pic">
                <img
                    src="/upload/resize_cache/iblock/f1b/147_147_1/paket_sushi-_house.jpg"
                    alt="Доставка и самовывоз"
                    title="Доставка и самовывоз"
                    />
            </div>
            <div class="opis">
                1.Самовывоз:<br />
                Минимальная сумма заказа отсутствует. Эта услуга бесплатна.<br />
                Cвой заказ можно получить по любому из адресов сети SUSHI HOUSE в соответствии с режимом работы заведения:<br />
                пр-т Дзержинского 91&#40;ТЦ &quot;Алми&quot;&#41;, время работы: круглосуточно<br />
                2.Доставка курьерской службой:<br />
                Наш курьер доставит заказ по указанному адресу. Заказы на доставку принимаются с 10 утра до 10 вечера.<br />
                Доставка бесплатна, минимальная сумма заказа 200 гривен.</div>
        </div>                        
    </div>
    <div class="tab-content">
        <div class="tab">Адреса и контакты</div>                            
        <div class="tabscontent">
            <div class="pic">
                <img
                    src="/upload/resize_cache/iblock/7c0/147_147_1/logo.jpg"
                    alt="Адреса и контакты"
                    title="Адреса и контакты"
                    />
            </div>
            <div class="opis">
                Служба доставки блюд японской кухни SUSHI HOUSE всегда рад предложить Вам настоящую японскую кухню с доставкой на дом или в офис.<br />
                Заказы на доставку принимаются c 10 утра до 10 вечера. Оформить заказ &quot;на вынос&quot; можно по адресу<br />
                пр-т Дзержинского 91 &#40;ТЦ Алми&#41;. Время работы заведения - круглосуточно<br />
                Единый телефон call-центра: 668-11-11 &#40;velcom, МТС&#41;<br />
                по вопросам сотрудничества: 
                <a class="txttohtmllink" href="mailto:marketing@sushihouse.by" title="Написать письмо">marketing@dvapirata.zp.ua</a> 
                &#43;375445040532                        	
            </div>
        </div>                        
    </div>

</div>                 
