
        <div class="slider">
            <div class="slider_item_first"  id="bx_3218110189_7982">
                <div class="slider_item_child" style="background:  url(/upload/iblock/9b1/maneki-neko_bg.jpg)  center;   background-size: cover;">

                    <div class="slide_item_bd">

                        <a href="#" ><img
                                src="/images/eda/uramak_dracon_bronze.png"
                                alt="Ланч сеты по супер цене"
                                title="Ланч сеты по супер цене"
                                /></a>
                    </div>
                </div>
            </div>				 		
            <div class="slider_item_first"  id="bx_3218110189_55028">
                <div class="slider_item_child" style="background:  url(/upload/iblock/9b1/maneki-neko_bg.jpg)  center;   background-size: cover;">

                    <div class="slide_item_bd">

                        <a href="#" ><img
                                src="/images/eda/uramak_dracon_red.png"
                                alt="Weekend скидка 20% на раздел сеты!"
                                title="Weekend скидка 20% на раздел сеты!"
                                /></a>
                    </div>
                </div>
            </div>				 		
            <div class="slider_item_first"  id="bx_3218110189_149">
                <div class="slider_item_child" style="background: #183a17 url(/upload/iblock/9b1/maneki-neko_bg.jpg) repeat-x center;   background-size: cover;">

                    <div class="slide_item_bd">

                        <a href="#" ><img
                                src="/images/eda/uramak_dracon_green.png"                                
{#                                src="upload/iblock/e31/maneki-neko_new2.png"#}
                                alt="Манеки Неко"
                                title="Манеки Неко"
                                /></a>
                    </div>
                </div>
            </div>				 		
        </div>
        