
        <div class="slider">
            <div class="slider_item_first"  id="bx_3218110189_7982">
                <div class="slider_item_child" style="background:  url(/upload/iblock/186/sushi_lunch_bg.jpg)  center;   background-size: cover;">

                    <div class="slide_item_bd">

                        <a href="catalog/sets.html" ><img
                                src="upload/iblock/69f/lunch_sushi.png"
                                alt="Ланч сеты по супер цене"
                                title="Ланч сеты по супер цене"
                                /></a>
                    </div>
                </div>
            </div>				 		
            <div class="slider_item_first"  id="bx_3218110189_55028">
                <div class="slider_item_child" style="background:  url(/upload/iblock/7ce/weekend_sushi.jpg)  center;   background-size: cover;">

                    <div class="slide_item_bd">

                        <a href="akcii.html" ><img
                                src="upload/iblock/1e9/weekend_sushi.png"
                                alt="Weekend скидка 20% на раздел сеты!"
                                title="Weekend скидка 20% на раздел сеты!"
                                /></a>
                    </div>
                </div>
            </div>				 		
            <div class="slider_item_first"  id="bx_3218110189_34806">
                <div class="slider_item_child" style="background:  url(/upload/iblock/ad6/sushi_50_bg.jpg)  center;   background-size: cover;">

                    <div class="slide_item_bd">

                        <a href="akcii.html" ><img
                                src="upload/iblock/c16/sushi_50.png"
                                alt="Скидка на блюдо дня 50%"
                                title="Скидка на блюдо дня 50%"
                                /></a>
                    </div>
                </div>
            </div>				 		
            <div class="slider_item_first"  id="bx_3218110189_31961">
                <div class="slider_item_child" style="background:  url(/upload/iblock/28d/frends_bg.jpg)  center;   background-size: cover;">

                    <div class="slide_item_bd">

                        <a href="https://app.plazius.ru/m/5Vpkmt" target="_blank"><img
                                src="upload/iblock/ae7/frends_sushi.png"
                                alt="Приводи друзей - получай бонусы!"
                                title="Приводи друзей - получай бонусы!"
                                /></a>
                    </div>
                </div>
            </div>				 		
            <div class="slider_item_first"  id="bx_3218110189_149">
                <div class="slider_item_child" style="background: #183a17 url(/upload/iblock/9b1/maneki-neko_bg.jpg) repeat-x center;   background-size: cover;">

                    <div class="slide_item_bd">

                        <a href="akcii.html" ><img
                                src="upload/iblock/e31/maneki-neko_new2.png"
                                alt="Манеки Неко"
                                title="Манеки Неко"
                                /></a>
                    </div>
                </div>
            </div>				 		
            <div class="slider_item_first"  id="bx_3218110189_20373">
                <div class="slider_item_child" style="background:  url(/upload/iblock/6c7/24h_bg.jpg)  center;   background-size: cover;">

                    <div class="slide_item_bd">

                        <img
                            src="upload/iblock/0c4/24h.png"
                            alt="Работаем круглосуточно"
                            title="Работаем круглосуточно"
                            />
                    </div>
                </div>
            </div>				 		
            <div class="slider_item_first"  id="bx_3218110189_1889">
                <div class="slider_item_child" style="background:  url(/upload/iblock/1c3/imeninnik_bg.jpg)  center;   background-size: cover;">

                    <div class="slide_item_bd">

                        <img
                            src="upload/iblock/489/imeninnik.png"
                            alt="Скидка именинникам 20%"
                            title="Скидка именинникам 20%"
                            />
                    </div>
                </div>
            </div>				 		
        </div>
        